header {
	font-size: 100px;
	text-align: center;
}

body {
  	padding-top: 50px;
  	background-color: white;
	padding-left: 50px;
	padding-right: 50px;
}

h1 {
	
}

#quoteDisplay {
	text-align: center;
}
